    body {
        font-family: Roboto, Arial;
    }

    h1 {
        text-shadow: 3px 3px gray;
        color: black;
    }

    .cabecera {
        font-weight: bold;
        display: flex; 
        flex-direction: row;
        justify-content:left;
        background-color:skyblue;
        height: 15%;
        border-radius: 20px;
        margin: 5px;
    }

    .contenido {
        display: flex; 
        flex-direction: row;
        justify-content:left;
    }

    .lateral {
        background-color:lightsalmon;
        width: 100px;
        flex: 2;
        margin: 5px;
        border-radius: 20px;
        text-align: center;
    }

    .seccion-comentarios {
        background-color: wheat;
        flex: 3;
        display: none;
        margin-top: 5px;
    }

    #boton-comentario {
        background-color: wheat;
        width: 4em;
        height: 4em;
        margin-top: 5px;
        border-radius: 8px 0px 0px 8px;
        cursor: pointer;
    }

    .comentario {
        background-color:whitesmoke;
        margin: 5%;
        padding: 5%;
        border-radius: 8px;
        text-align: left;
    }

    .comentario h2{
        margin: 0%;
    }
    .comentario h3{
        margin: 0%;
    }

    .formulario {
        margin: 5%;
        padding: 5%;
        background-color: whitesmoke;
        border-radius: 8px;
    }

    .formulario input {
        margin-bottom: 2%;
    }

    .formulario textarea {
        margin-bottom: 2%;
    }

    .formulario textarea {
        resize:none;
        width: 99%;
        margin-right: 5%;
    }


    .cuadricula {
        flex: 5;
        margin: 5px;
        border-radius: 20px;
        text-align: center;
        padding: 4%;
        background-color:wheat;
        border-radius: 20px;
        overflow: hidden;
    }

    .cuadricula p {
        text-align: left;
    }

    /*Nombre y datos del cientifico*/
    .datos {
        text-align: left;
        margin: 0;
    }

    .datos h2 {
        font-size: 50px;
        margin: 0;
    }

    .datos h4 {
        margin: 0;
    }

    .pie {
        background-color:skyblue;
        border-radius: 30px;
        text-align: center;  
        padding: 40px; 
        margin: 5px;
    }

    .titulo {
        font-size: 500%;
        margin-bottom: 0px;
        margin-top: 0px;
    }

    .titulo_y_menu {
        flex: 4;
    }

    .logo {

        flex: 1;
        text-align: center;
    }

    .menu {
        display: flex; 
        flex-direction: row;
        justify-content:flex-start;
    }

    .menu button {
        margin-right: 10%;
        margin-top: 1%;
        border-radius: 5px;
        height: 100%;
        width: 10%;
        cursor: pointer;
        box-shadow: none;
    }

    .cuadricula div h3 {
        margin: 0;
    }

    .fotos {
        display: flex;
        float: right;
        flex-direction: column;
        margin-left: 5%;
    }

    .fotos img {
        width: 15em;
        margin-top: 5%;
        object-fit: cover;
        height: 10em;
        text-align: center;
        margin-left: 0%;
    }

    .fotos div {
        text-align: center;
    }

    .fotos p {
        margin: 0;
        text-align: center;
        font-weight: bold;
    }

    /*Menu para los enlaces externos*/
    .menu-redes  {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 10% 15% 0% 15%;
    }

    a img{
        width: 3em;
        height: 3em;
        border-radius: 8px;
        background-color: white;
        cursor: pointer;
    }

    /* The Modal (background) */
    .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 15%;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    overflow: auto; 
    
  }
  
  /* Modal Content */
  .modal-content {
    border-radius: 10px;
    background-color: #fefefe;
    margin: auto;
    text-align: center;
    padding: 20px;
    border: 3px solid red;
    width: 50%;
  }
  
  /* The Close Button */
  .close {
    color:grey;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover{
    cursor: pointer;
  }

    /*Se eliminan y recolocan algunos elementos como el lateral cuando la pagina baja
    de cierto umbral*/

    @media only screen and (max-width: 950px) {

        .cabecera{
            flex-direction: column;
            text-align: center;
        }

        .menu {
            justify-content: space-around;
        }

        .menu button {
            margin: 0% 0% 2% 0%;
        }

        .lateral {
            display: none;
        }

    }